body {
    background-color: #e7f3e4;
    color: #4e342e;
}
    
header {
    background-color: #f8e0d8;
    height: 100px;
}

nav {
    background-color: #f8e0d8;
    font-family:Arial, Helvetica, sans-serif;
}

section {
    margin-left: 10px;
    font-size: larger;
}

article {
    display: flex;
    justify-content: center; /* Keskitt채채 horisontaalisesti */
}

aside {
    background-color: #d1e7dd;
    margin-right: 10px;
}

footer {
    background-color: #aba9a9;
    color: #ffffff;
    text-align: center;
}

/* Painike, josta siirryt채채n pelaamaan */
.play {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    display: inline-flex;
    align-items: center;
    padding: 12 px 20 px;
    padding-left: 10px;
    font-size: 2em;
    color: #4e342e;
    background-color: #8cbf88;
    border: none;
    border-radius: 8px;
    text-decoration: none;
    box-shadow: 0px 4px 6px rgba(0,0,0,0.2);
}

.play:hover {
    transform: translate(-3px);
    box-shadow: 0px 6px 8px rgba(0,0,0,3);
    background-color: #f4a261;
}

.icon-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30vh;
}

/* Liikkuva traktori */

.hover-icon {
    transition: transform 0.3s ease;
}

.hover-icon:hover {
    animation: moveRight 0.5s ease forwards;
}

@keyframes moveRight {
    0% { transform: translateX(0); }
    100% { transform: translateX(30px); }
}

/* Pelisivun muotoilut */
article {
    padding-top: 20px;
}

#animal-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

#animal-container img {
    margin: 20px;
}